:root {
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 16px;
  --space: 24px; 
  --space-md: 32px;
  --space-lg: 48px;
  --space-xlg: 64px;

  --screen-sm: 768px;

  --gray: #555;
  --gray-dark: #333;
  --gray-darker: #111;
  --gray-light: #f1f1f1;
  --gray-lighter: #fafafa;
  --blue: #187888;
  --yellow: #e6af05;
  --white: #fff;
  --black: #000;

  --brand-primary: var(--blue);
  --background: #ECECEB;
  --text-color: var(--gray-darker);
}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

details {
  summary {
    list-style: none;
  }
}

.collapse {
  border: solid 0px 0px 0px 1px var(--gray-lighter);
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  transition: background-color 0.25s;
  will-change: background-color;

  &:first-child {
    margin-top: var(--space);
  }

  &:not(:last-child) {
    margin-bottom: var(--space-sm);
  }

  &:hover {
    background-color: var(--gray-lighter);

    .title:after {
      content: "⌄";
    }
  }

  &[open] {
    .title:after {
      content: "^";
    }
  }
}

.title {
  cursor: pointer;
  font-weight: 600;
  padding: var(--space-sm);
  position: relative;

  &:after {
    content: "⌄";
    position: absolute;
    right: var(--space-sm);
    transform: translatey(-50%);
    top: 50%;
  }
}

.description {
  border-top: var(--gray-light) solid 1px;
  font-size: 14px;
  line-height: 21px;
  padding: var(--space-sm);
}

nav {
  font-family: cooper;
  font-size: 25px;
  background-color: #FFFDD0;
  color: #352419;
  text-decoration: none;
}

nav a {
  font-family: cooper;
  font-size: 25px;
  background-color: #FFFDD0;
  color: #644630;
  text-decoration: none;
  border-radius: 10px;
}   

#promo, #doacao, #chamado{
  padding: 10px 40px;
  font-family: cooper;
  font-size: 25px;
  background-color: #FFFDD0;
  color: #644630;
  text-decoration: none;
  background-size: 50px;
  border-radius: 10px;
}

#blog, #loja, #faq {
  padding: 10px 60px;
  font-family: cooper;
  font-size: 25px;
  background-color: #FFFDD0;
  color: #644630;
  text-decoration: none;
  background-size: 50px;
  border-radius: 10px;
}

#cat{
  padding: 10px 40px;
  font-family: cooper;
  font-size: 25px;
  background-color: #644630;
  color: #FFFDD0;
  text-decoration: none;
  background-size: 50px;
  border-radius: 10px;
}

#promo:hover, #doacao:hover, #chamado:hover{
  padding: 10px 40px;
  font-family: cooper;
  font-size: 25px;
  background-color: #644630;
  color: #FFFDD0;
  background-size: 50px;
  border-radius: 10px;
}

#blog:hover, #loja:hover, #faq:hover {
  padding: 10px 60px;
  font-family: cooper;
  font-size: 25px;
  background-color: #644630;
  color: #FFFDD0;
  background-size: 50px;
  border-radius: 10px;
}
/* CSS File - FAQ */

