@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
}
header {
	height: 300px;
}

.search-box {
    margin-left: 290px;
}

#titulo-principal {
    font-size: 65px;
	margin-top: 20px;
    margin-bottom: 65px;
}

.base-botao {
    border: none;
    background-color: #EAEAEA;
    margin-top: 15px;
}

.base-botao:hover {
    background-color: rgb(215, 215, 215);
}

.base-botao:active {
    background-color: rgb(215, 215, 215);
    
}

form {
	display: flex;
	
}

.campo-base {
    width: 200px;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 25px;
	display: flex;
    align-items: center;
   
   /* resize: vertical;*/
}
form {
    display: flex;
    gap: 49px;
    flex-wrap: wrap;
}


#campo-email {
    margin-top: 1px;
}

#campo-telefone {
    margin-bottom: 20px;
}


.espaco-campo {
    margin-left: 65px;
}

footer {
    margin-top: 90px;
}
