body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
span {
    font-size: 40px;
    font-weight: bold;
}
header {
    background-color: #E8E7E5;
    color: #000000;
    padding: 10px;
    text-align: center;
}

nav {
    font-family: cooper;
    font-size: 25px;
    background-color: #FFFDD0;
    color: #352419;
    text-decoration: none;
}

nav a {
    font-family: cooper;
    font-size: 25px;
    background-color: #FFFDD0;
    color: #644630;
    text-decoration: none;
    border-radius: 10px;
}   

#promo, #doacao, #chamado{
    padding: 10px 40px;
    font-family: cooper;
    font-size: 25px;
    background-color: #FFFDD0;
    color: #644630;
    text-decoration: none;
    background-size: 50px;
    border-radius: 10px;
}

#blog, #loja, #faq {
    padding: 10px 60px;
    font-family: cooper;
    font-size: 25px;
    background-color: #FFFDD0;
    color: #644630;
    text-decoration: none;
    background-size: 50px;
    border-radius: 10px;
}

#cat{
    padding: 10px 40px;
    font-family: cooper;
    font-size: 25px;
    background-color: #644630;
    color: #FFFDD0;
    text-decoration: none;
    background-size: 50px;
    border-radius: 10px;
}

#promo:hover, #doacao:hover, #chamado:hover{
    padding: 10px 40px;
    font-family: cooper;
    font-size: 25px;
    background-color: #644630;
    color: #FFFDD0;
    background-size: 50px;
    border-radius: 10px;
}

#blog:hover, #loja:hover, #faq:hover {
    padding: 10px 60px;
    font-family: cooper;
    font-size: 25px;
    background-color: #644630;
    color: #FFFDD0;
    background-size: 50px;
    border-radius: 10px;
}

div{
    border: solid black 1px;
    margin: 0 auto;
    width: 250px;
    height: auto;
    shape-outside: inset(20px 5px 30px 10px);
    background: lightgray;
}

main {
    font-weight: bold;
    border: solid black 1px;
    width: auto;
    height: 800px;
    background-image: url('/chamado/background.png') ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 50px;
    text-align: center;
    background-color:#FFFCCF;
    
}

footer {
    background-color: #E8E7E5;
    color: #000000;
    padding: 10px;
    text-align: center;
}

.return {
    font-size: 20px;
    margin-left: 50%;
}

.button {
    margin-top: 10px;
    padding: 20px 20px;
    padding-top: 5p;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049;
}